@import url('');

:root{
    /*FONTS*/
    $font-primary:'Poppins', sans-serif;  {expected
    $font-size: 16px;
    $font-weight-regular: 400;
    $font-weight-bold: 700;
    
    
    //COLORS

    $primary-dark-gold:#ffb742;
    $primary-dark-blue1:#393646;
    $primary-dark-blue2:#4f4557;
    $primary-dark-white:#ffffff;

}
*{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size:$font-size;

}